

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto 0;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .dropzone {
    border: 2px dashed #ccc;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .dropzone.active {
    background-color: #f0f8ff;
  }
  
  .file-list {
    margin-top: 20px;
  }
  
  .file-list ul {
    list-style: none;
    padding: 0;
  }
  
  .file-list li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
  }
  
  .file-list li:hover {
    background-color: #f5f5f5;
  }
  